#category {
    font-size: 48px;
}

#difficulty {
    font-size: 32px;
}

#teamnames {
    font-size: 26px;
    color: cadetblue;
}

#score {
    font-size: 22px;
}

/*#control-window-question {*/
/*    font-size: 24px;*/
/*}*/

/*#control-window-answer {*/
/*    font-size: 20px;*/
/*}*/

#display-question {
    font-size: 42px;
}